<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You created the post: "<%= @post.title %>"</h1>
    <p>
      You will receive notifications when your post is commented on. If you do not wish to receive these notifications,
      <%= link_to "View your post here", topic_post_url(@post.topic, @post) %> and click "Unfavorite".
    </p>
  </body>
</html>
